@using Microsoft.CodeAnalysis.CSharp.Syntax
@model VendingMachine.Models.VendingMachineModel

@{
  ViewData["Title"] = "Vending Machine";
}

<h1 class="text-center mb-3">Vending Machine</h1>

<h5 class="text-center mb-3">Deposit money and then select products.</h5>

@* Product cards *@
@{
  int quantity = 0;
  foreach (var product in Model.Products)
  {
    quantity += product.Quantity;
  }
}
@if (quantity == 0)
{
  <h2 class="text-center my-5">Empty</h2>
}
else
{
  <div class="row justify-content-center">
    @for (int i = 0; i < Model.Products.Count; i++)
    {
      @if (Model.Products[i].Quantity > 0)
       {
         <div class="col-sm-4 col-md-3 col-lg-2 mb-3">
           <div class="card" name="productCard">
             <img src="@Model.Products[i].ImageUrl" asp-append-version="true" alt="@Model.Products[i].ImageUrl" class="card-img-top"/>
             <div class="card-footer py-2 px-3">
               <p class="mb-0">@Model.Products[i].Name</p>
               <p class="text-right font-italic mb-0">
                 @Model.Products[i].Price rub
               </p>
             </div>
           </div>
         </div>
       }
    }
  </div>
}

@* Checkout, Total, Balance, Change, Buy button *@
<div class="row justify-content-center mb-5">
  <div class="col-sm-5 col-lg-3">
    <div>Checkout:</div>
    <div id="checkout" class="mb-2"></div>
    <div class="row font-weight-bold">
      <div class="col">Total:</div>
      <div class="col font-italic text-right" id="total">0 rub</div>
    </div>
  </div>
  <div class="col-sm-1"></div>
  <div class="col-auto align-self-end">
    <div class="row font-weight-bold mb-2">
      <div class="col">Balance:</div>
      <div class="col font-italic text-right" id="balance">0 rub</div>
    </div>
    <div class="row mb-3">
      <div class="col">Change:</div>
      <div class="col font-italic text-right" id="change">0 rub</div>
    </div>
    <button id="buyButton" class="btn btn-primary btn-lg px-5">Buy</button>
  </div>
</div>

@* Cashes *@
<div class="row justify-content-center">
  @for (int i = 0; i < Model.Cashes.Count; i++)
  {
    <div class="col-auto mb-3">
      <button name="cashButton" disabled="@Model.Cashes[i].IsBlocked" class="btn btn-primary btn-lg py-3 px-4">@Model.Cashes[i].FaceValue</button>
    </div>
  }
</div>

@* Message modal *@
<button hidden="hidden" id="messageModalButton" type="button" data-toggle="modal" data-target="#messageModal"></button>
<div id="messageModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body text-center">
        <h5 id="modalMessage" class="mt-4 mb-5"></h5>
        <div>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">OK</button>
        </div>
      </div>
    </div>
  </div>
</div>


@section Scripts {
  <script src="~/js/client-index.js" asp-append-version="true"></script>
}