@using Microsoft.CodeAnalysis.CSharp.Syntax
@model VendingMachine.Models.VendingMachineModel

@{
    ViewData["Title"] = "Vending Machine";
}

<h1 class="text-center mb-4">Vending Machine</h1>

<div class="row justify-content-center">
    @for (int i = 0; i < Model.Products.Count; i++)
    {
        @if (Model.Products[i].Quantity > 0)
        {
            <div class="col-sm-4 col-md-3 col-lg-2 mb-3">
                <div class="card">
                    <img src="@Model.Products[i].ImageUrl" asp-append-version="true" alt="@Model.Products[i].ImageUrl" class="card-img-top" />
                    <div class="card-footer py-2 px-3">
                        <p class="mb-0">@Model.Products[i].Name</p>
                        <p class="text-right font-italic mb-0">
                            @Model.Products[i].Price rub
                        </p>
                    </div>
                </div>
            </div>
        }
    }
</div>

<div class="row justify-content-center mb-5">
    <div class="col-sm-6 col-lg-4">
        <div>Checkout:</div>
        <div id="checkout" class="mb-2"></div>
        <div class="row font-weight-bold">
            <div class="col">Total:</div>
            <div class="col font-italic"></div>
        </div>
    </div>
    <div class="col-auto align-self-end">
        <div class="row font-weight-bold mb-2">
            <div class="col">Balance:</div>
            <div class="col font-italic"></div>
        </div>
        <div class="row mb-3">
            <div class="col">Change:</div>
            <div class="col font-italic"></div>
        </div>
        <button disabled="disabled" class="btn btn-primary btn-lg px-5">Buy</button>
    </div>
</div>

<div class="row justify-content-center">
    @for (int i = 0; i < Model.Cashes.Count; i++)
    {
        <div class="col-auto mb-3">
            <button disabled="@Model.Cashes[i].IsBlocked" class="btn btn-primary btn-lg py-3 px-4">@Model.Cashes[i].FaceValue</button>
        </div>
    }
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(document).ready(function () {
            let products = [];
            @foreach (var product in Model.Products)
            {
                <text>
                    products.push({ name: "@product.Name", price: @product.Price });
                </text>
            }

            let checkout = [];

            let cards = document.getElementsByClassName("card");
            for (let i = 0; i < cards.length; i++) {
                cards[i].addEventListener("click",
                    (event) => {
                        let div = document.createElement("div");
                        div.innerHTML =
                            `<div class="row">
                                <div class="col">` + products[i].name + `</div>
                                <div class="col font-italic">` + products[i].price + ` rub</div>
                            </div>`;
                        document.getElementById("checkout").appendChild(div);
                    });
            }
        });

    </script>
}
